.copyright {
   padding: 20px;
   font-weight: bold;
   
}

.botao {
    background-color: var(--branca);
    border-radius: 30px;
    box-shadow: 3px 3px 0 var(--cinza);
    color: var(--vermelha);
    cursor: pointer;
    height: 270px;
    font-size: 1.75em;
    font-weight: bold;
    line-height: 270px;
    text-align: center;
    width: 270px;
}
