.copyright {
   padding: 20px;
   font-weight: bold;
   text-align: center;
   padding: 19%;
}

.perguntas {
    text-align: center;
    font-weight: bold;
    color: blue;
    border-radius: 30px;

#per1 {
   padding: 5%;
}

#per2 {
    padding: 5%;
}

#per3 {
    padding: 5%;

}